@model ECommerce.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<h4>Product</h4>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading"><h1>@Html.DisplayFor(modelItem => modelItem.Category.CategoryName)</h1></div>

    <div class="row panel-body">


        <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height:380px; min-width:1100px">
            <img src="~/Uploads/@Model.ProductImage" />

            <div style="text-align:center">
                <h3>@Html.DisplayFor(modelItem => modelItem.ProductName)</h3>
                <h3>@Html.DisplayFor(modelItem => modelItem.UnitPrice)</h3>
                <h3>@Html.DisplayFor(modelItem => modelItem.Supplier.CompanyName)</h3>

                @Ajax.ActionLink("Add To Cart", "AddToCart", "Home", new AjaxOptions()
                {
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "div1"
}, new { @class = "btn btn-primary" })

                <a class="btn btn-warning" href="@Url.Action("Index","Home")">Back To List</a>


                <div id="div1">
                   
                </div>
            </div>

        </div>




    </div>

</div>



@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}